#header {
    color: #515151;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    height: 60px;
    margin-top: 5px;
}

body {
    overflow-y: scroll;
}

.dropdown {
    display: inline-block;
}

.playback-info {
    text-align: right;
    width: 85%;
}

#pause {
    display: none;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    display: none;
}

.control-button {
    line-height: 0;
    font-size: 30px;
    color: #4386f4;
    display: inline-block;
}

.control-icon {
    line-height: 0;
    font-size: 30px;
    color: #4386f4;
    display: inline-block;
}

.control-button:hover {
    color: #77abff;
}

.style-select {
    display: inline-block;
    border-color: lightgrey;
    width: 75px;
    height: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.tempo-container {
    display: inline-block;
    vertical-align: top;
    margin: 0.5% 1% 0 1%;
    width: 90px;
}

.style-container {
    display: inline-block;
    vertical-align: top;
    width: 10%;
}

.style-override-checkbox {
    margin: 0;
}

.number-input {
    width: 40px;
    height: 20px;
    text-align: center;
    border-radius: 0;
    border: 1px;
    border-color: lightgrey;
    border-style: solid;
    margin-left: -5px;
}

.button-control {
    display: inline-block;
    padding: 0;
    width: 25px;
    border-style: solid;
    border-width: 1px;
    height: 20px;
    vertical-align: bottom;
    border-color: lightgrey;
    background-color: white;
    color: grey;
    padding: 0 3px 0 3px;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.increase {
    margin-left: -5px;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
}

.decrease {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
}

.playback-container {
    display: inline-block;
}

#header {
    text-align: center;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.chord-root {
    width: 40px;
}

.chord-symbol {
    width: 20px;
    margin-left: -5px;
    background-color: transparent;
    fill: none;
}

.lead-sheet {
    width: 90%;
    text-align: left;
    margin: auto auto 10% 10%;
}

.chord {
    display: inline-block;
}

.ending-marker {
    width: 20px;
    display: inline-block;
}

.ending-marker-container {
    display: inline-block;
    margin-right: -40px;
    height: 0px;
    margin-top: -20px;
}

.measure {
    min-width: 18%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.highlighted-measure {
    background: #9bc1ff;
}

.selected-transposing-key {
    background: #9bc1ff;
}

.transpose-icon {
    height: 44px;
    margin-top: -10px;
}

.transpose-container {
    width: 90px;
}

.section-header {
    color: black;
    width: min-content;
}

.song-name {
    margin: auto;
    text-align: center;
}

.bar-line {
    height: 80px;
}




/* spinner */
.lds-ellipsis {
    position: relative;
    text-align: center;
    top: 37px;
    left: 46%;
    display: none;
    width: 0;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: grey;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
    transform: scale(0);
    }
    100% {
    transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
    transform: translate(0, 0);
    }
    100% {
    transform: translate(24px, 0);
    }
}