.header {
    color: #515151;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    padding: 0.5rem;
    grid-column: 1 / 4;
    background-color: #4386f4;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
    grid-template-columns: repeat(12, 1fr);
    display: grid;
}

.parent {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto
}

.playback-info {
    text-align: right;
    width: 80%;
}

.icon {
    line-height: 0;
    font-size: 30px;
    color: white;
    display: inline-block;
    cursor: pointer;
}

.style-select {
    display: inline-block;
    border-color: lightgrey;
    width: 75px;
    border-radius: 3px;
    vertical-align: top;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#style-override {
    margin-right: 5px;
    vertical-align: top;
}

.tempo-container {
    display: inline-block;
    vertical-align: top;
    margin: 0.5% 1% 0 1%;
    width: 90px;
}

.style-container {
    display: inline-block;
    vertical-align: top;
    width: 10%;
}

.number-input {
    width: 40px;
    height: 20px;
    text-align: center;
    border-radius: 0;
    border: 1px;
    border-color: lightgrey;
    border-style: solid;
    margin-left: -5px;
}

.button-control {
    display: inline-block;
    padding: 0;
    width: 25px;
    border-style: solid;
    border-width: 1px;
    height: 20px;
    vertical-align: top;
    border-color: lightgrey;
    background-color: white;
    color: black;
    padding: 0 3px 0 3px;
    cursor: pointer;
}

svg, .button-control, #transpose-dropdown-container {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.increase {
    margin-left: -5px;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
}

.decrease {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.chord-root {
    vertical-align: middle;
}

.chord-symbol {
    vertical-align: middle;
    margin-left: -2px;
}

.main-section {
    padding: 10px;
    grid-column: 2 / 3;
    text-align: left;
    overflow-y: scroll;
}

.chord {
    display: inline-block;
}

.ending-marker-container {
    margin-right: -30px;
    margin-top: -5px;
}

.measure {
    min-width: 18%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 9px 0 9px 0;
}

.highlighted-measure {
    background: #9bc1ff;
}

.selected-transposing-key {
    background: #9bc1ff;
}

.transpose-container {
    width: 90px;
}

.section-header {
    color: black;
    width: min-content;
}

.song-name {
    margin: auto;
    text-align: center;
}

.bar-line {
    vertical-align: middle;
    margin: 5px 0 5px 0;
}

/* spinner */
.lds-ellipsis {
    position: relative;
    text-align: center;
    top: -10px;
    left: 47%;
    width: 0;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: grey;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.left-sidebar {
    padding: 10px;
    grid-column: 1 / 2;
    overflow-y: scroll;
    background-color: #f7f7f7;
}

.left-sidebar h3 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    cursor: pointer;
    word-wrap: normal;
    max-width: 220px;
}

#songs {
    grid-column: 1 / 2;
}

#settings-icon {
    grid-column: 12 / 13;
    text-align: right;
}

.settings-label {
    padding-right: 5px;
}

.right-sidebar {
    padding: 10px;
    grid-column: 3 / 4;
    overflow-y: scroll;
    background-color: #f7f7f7;
}

.band-controls {
    grid-column: 2 / 12;
    text-align: center;
}
